.container{
    position: relative;
}

#box{
    width: 200px; 
    height: 200px;
    margin: 50px;
    background-color: #0a8e8e;
    position:absolute;
}

h1{
    background-color: #6f7777;
    padding: 10px;
    color: white;
    text-align: center;    
}

h3{
    background-color: #bdcebe;
    padding: 10px;
    color: black;
    text-align: center;
}
